<footer>
    <div class="container-fluid">
        <div class="container">
            <section class="cata-menu info">
                <div class="box-footer">
                    <img src="../images/logo.png" alt="" />
                    <p>
                        Chúng tôi mong muốn Tea House sẽ trở thành “Nhà Trà", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
                    </p>
                    <div class="icon">
                        <i class="fab fa-twitter" style="font-size: 18px; color: #4d8a54"></i>
                        <i class="fab fa-facebook-f" style="font-size: 18px; color: #4d8a54"></i>
                        <i class="fab fa-pinterest-p" style="font-size: 18px; color: #4d8a54"></i>
                        <i class="fab fa-google-plus-square" style="font-size: 18px; color: #4d8a54"></i>
                        <i class="fab fa-youtube" style="font-size: 18px; color: #4d8a54"></i>
                    </div>
                </div>
                <div class="box-footer">
                    <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                    <div class="container-fluid info-box">
                        <i class="fas fa-map-marker-alt" style="font-size: 24px; color: #4d8a54"></i>
                        <span>
              Địa chỉ: Tâng 6 toà nhà Ladeco, 266 Đội Cấn, phường LiễuGiai, Hà
              Nội, Vietnam
            </span>
                    </div>
                    <div class="container-fluid info-box">
                        <i class="fas fa-phone-alt" style="font-size: 24px; color: #4d8a54"></i>
                        <span>Hotline đặt bàn: 1800 6750 <br />
              Hotline giao hàng: 1800 6750</span
            >
          </div>
        </div>
        <div class="box-footer">
          <h2>ĐĂNG KÍ NHẬN KHUYÊN MÃI</h2>
          <p>Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn</p>
          <div class="btn-register">
            <form action="" method="post">
              <input type="text" placeholder="Email của bạn" />
              <button type="submit">Đăng kí</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>