<section style="border-bottom: 1px rgb(223, 223, 223) solid">
    <div class="container d-flex menu">
        <div class="box-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/" style="color: rgb(77, 138, 84)">Trang chủ</a>
                    </li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li class="dropdown">
                        <a href="/san-pham">Sản phẩm <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-nav">
                            <li class="dropdown-li">
                                <a href="/san-pham/1">Cà phê</a>
                            </li>
                            <li class="dropdown-li">
                                <a href="/san-pham/2">Bánh Ngọt</a>
                            </li>
                            <li class="dropdown-li">
                                <a href="/san-pham/3">Smoothies</a>
                            </li>
                            <li class="dropdown-li">
                                <a href="/san-pham/4">Trà hoa quả</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="box-logo">
            <a href="/"><img src="../images/logo.png" alt="" /></a>
        </div>
        <div class="box-menu">
            <nav>
                <ul>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Thực đơn</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>