<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Loại sản phẩm</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Loại sản phẩm</a></li>
                    <li class="active">Danh sách</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Dữ liệu</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Mã loại</th>
                                    <th>Tên loại</th>
                                    <th>Thứ tự</th>
                                    <th>Ẩn/hiện</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="catalogs_data">
                                <!-- <tr>
                                    <td>
                                        <input type="checkbox" name="checkbox" id="" value="" />
                                    </td>
                                    <td>Id</td>
                                    <td>Tên</td>
                                    <td>Thu tự</td>
                                    <td>Ẩn/ hiện</td>
                                    <td>
                                        <a type="button" class="btn btn-dark" href="/admin/catalogs/edit/">Chỉnh sửa</a
                    >
                    <a
                      type="button"
                      class="btn btn-dark"
                      href="/admin/catalogs/delete/"
                      onclick="return canhbao('Bạn có thực sự muốn xóa !')"
                      >Xóa</a
                    >
                  </td>
                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh sửa</h4>
                <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Loại sản phẩm</label>
                        <input name="name" type="name" class="form-control" id="ten_loaisp" aria-describedby="" placeholder="Nhập tên loại sản phẩm" />
                        <small class="form-text text-muted">Mã loại sản phẩm này sẽ được tự động khởi tạo</small
            >
          </div>
          <div class="form-group">
            <label for="order">Thứ tự hiển thị</label>
            <input
              name="order"
              type="number"
              min="1"
              max="10"
              class="form-control"
              id="thu_tu"
              placeholder="Nhập thứ tự sắp xếp"
            />
          </div>
          <div class="form-group">
            <label for="showHide">Ẩn/ Hiện</label>
            <select class="form-control" name="showHide" id="an_hien">
              <option value="1" selected>Hiện</option>
              <option value="0">Ẩn</option>
            </select>
          </div>
          <button type="button" id="btn_edit" class="btn btn-primary">
            Chỉnh sửa
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var catalog;
  function getCata() {
    axios
      .get("/catalogs")
      .then((res) => {
        let str = "";
        catalog = res.data;
        catalog.forEach((e) => {
          str += `
          <tr>
                                    <td>
                                        <input type="checkbox" name="checkbox" id="cata_${
                                          e.id_loaisp
                                        }" value="${e.id_loaisp}" />
                                    </td>
                                    <td>${e.id_loaisp}</td>
                                    <td>${e.ten_loaisp}</td>
                                    <td>${e.thu_tu}</td>
                                    <td>${e.an_hien == 0 ? "Ẩn" : "Hiện"}</td>
                                    <td>
                                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="chinhsua(${
                                          e.id_loaisp
                                        })">Chỉnh sửa</button>
                    <button
                      type="submit"
                      class="btn btn-dark"
                      href=""
                      onclick="xoa(${e.id_loaisp})"
                      >Xóa</button
                    >
                  </td>
                </tr>
          `;
        });
        document.querySelector("#catalogs_data").innerHTML = str;
      })
      .catch((err) => {
        console.log(err);
      });
  }
  getCata();

  function xoa(id) {
    axios
      .delete(`/catalogs/delete/${id}`)
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.log(err);
      });
    window.location.href = "/admin/loai-san-pham";
  }

  function chinhsua(id) {
    var result = catalog.filter((item) => {
      return item.id_loaisp == id;
    });

    result.forEach((e) => {
      document.querySelector("#ten_loaisp").value = e.ten_loaisp;
      document.querySelector("#thu_tu").value = e.thu_tu;
      document.querySelector("#an_hien").value = e.an_hien;
      var func = document.createAttribute("onclick");
      func.value = `edit(${e.id_loaisp})`;
      document.querySelector("#btn_edit").setAttributeNode(func);
    });
  }

  function edit(id) {
    let ten_loaisp = document.getElementById("ten_loaisp");
    let thu_tu = document.getElementById("thu_tu");
    let an_hien = document.getElementById("an_hien");
    let data = {
      id_loaisp: id,
      ten_loaisp: ten_loaisp.value,
      thu_tu: thu_tu.value,
      an_hien: an_hien.value,
    };

    axios
      .put("/catalogs", data)
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.log(err);
      });
    alert("Chỉnh sửa thành công !");
    window.location.href = "/admin/loai-san-pham";
  }
</script>
<!-- .content -->