<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Thống kê</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Thống kê</a></li>
                    <li class="active">Top 4 sản phẩm được quan tâm</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <canvas id="myChart" width="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<script>
    async function getdata() {
        let label = [];
        let data = [];
        await axios.get(`/products/productHot`).then((res) => {
            res.data.forEach((element) => {
                data.push(element.view);
                label.push(element.ten_sanpham);
            });
        });
        return {
            data: data,
            label: label,
        };
    }

    async function draw(cb) {
        let data = await cb();
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: data.label,
                datasets: [{
                    label: "Số lượt xem",
                    data: data.data,
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(255, 159, 64, 1)",
                    ],
                    borderWidth: 1,
                }, ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    }
    draw(getdata);
</script>
<!-- .content -->