<section class="baner">
    <img src="images/slider_1.jpg" alt="" />
</section>
<div class="container cata">
    <section class="title-cata">
        <h2>DANH MỤC SẢN PHẨM</h2>
    </section>
    <section class="cata-menu">
        <div class="box-cata">
            <a href="">
                <section class="img-cata">
                    <img src="images/sec_category_1.jpg" alt="" />
                </section>
                <section class="title-box">
                    <h2>Trà nóng</h2>
                    <p>Những lá trà ngâm mình trong sương tạo nên hương vị tuyệt hảo</p>
                </section>
            </a>
        </div>
        <div class="box-cata">
            <a href="">
                <section class="img-cata">
                    <img src="images/sec_category_2.jpg" alt="" />
                </section>
                <section class="title-box">
                    <h2>Trà hoa quả</h2>
                    <p>Nguyên liệu hoàn toàn tự nhiên rất giàu vitamin và khoáng chất</p>
                </section>
            </a>
        </div>
        <div class="box-cata">
            <a href="">
                <section class="img-cata">
                    <img src="images/sec_category_3.jpg" alt="" />
                </section>
                <section class="title-box">
                    <h2>Smoothies</h2>
                    <p>Làm từ trái cây xay hoặc rau củ quả, với đá, nước hoặc sữa</p>
                </section>
            </a>
        </div>
        <div class="box-cata">
            <a href="">
                <section class="img-cata">
                    <img src="images/sec_category_4.jpg" alt="" />
                </section>
                <section class="title-box">
                    <h2>Bánh ngọt</h2>
                    <p>Những chiếc bánh ngọt được làm thủ công tại Coffee Shop</p>
                </section>
            </a>
        </div>
    </section>
</div>
<section class="why">
    <div class="container">
        <div class="article">
            <section class="heading">
                <h2>TẠI SAO CHỌN CHÚNG TÔI</h2>
                <p>
                    Với những nghệ nhân rang tâm huyết và đội ngũ tài năng cùng những câu chuyện trà đầy cảm hứng, ngôi nhà Tea House là không gian dành riêng cho những ai trót yêu say đắm hương vị của những lá trà tuyệt hảo.
                </p>
            </section>
            <section class="body-article">
                <div class="body-why">
                    <div class="img-why">
                        <img class="container-fluid" src="images/icon_why_1.png" alt="" />
                    </div>
                    <div class="text-why">
                        <span class="text-title">Giá cả phải chăng</span> <br />
                        <span class="content-title">
              Cam kết chỉ cung cấp cà phê có nguồn gốc được kiểm soát chất lượng
            </span>
                    </div>
                </div>
                <div class="body-why">
                    <div class="img-why">
                        <img class="container-fluid" src="images/icon_why_2.png" alt="" />
                    </div>
                    <div class="text-why">
                        <span class="text-title">Hương vị tuyệt hảo</span> <br />
                        <span class="content-title">
              Những đọt trà được lựa chọn cẩn thận ngay từ lúc đang ngâm mình
              trong sương
            </span>
                    </div>
                </div>
                <div class="body-why">
                    <div class="img-why">
                        <img class="container-fluid" src="images/icon_why_3.png" alt="" />
                    </div>
                    <div class="text-why">
                        <span class="text-title">Sản phẩm tự nhiên</span> <br />
                        <span class="content-title">
              Cam kết chỉ cung cấp lá trà có nguồn gốc được kiểm soát chất lượng
              chặt
            </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- <section class="today">
    <div class="container">
        <section>
            <div class="container menu-today">
                <h2>MENU HÔM NAY</h2>
                <section class="today-choice d-flex">
                    <a href="#" class="special-choice choice-box">Trà nóng</a>
                    <a href="#" class="choice-box">Trà hoa quả</a>
                    <a href="#" class="choice-box">Smoothies</a>
                    <a href="#" class="choice-box">Bánh Ngọt</a>
                </section>
            </div>
        </section>
        <section class="today-grid-box">
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/6.jpg" alt="" />
                </div>
                <h3>TRÀ PHÚC BỒN TỬ</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/12.jpg" alt="" />
                </div>
                <h3>TRÀ VẢI</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/11-31738fc1-8b94-4d06-824d-63222f59e4e0.jpg" alt="" />
                </div>
                <h3>TRÀ CAM ĐÀO</h3>
                <span>Giá: <strong>45.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/9.jpg" alt="" />
                </div>
                <h3>TRÀ TÁO</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/5.jpg" alt="" />
                </div>
                <h3>TRÀ VIỆT QUẤT</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/7.jpg" alt="" />
                </div>
                <h3>TRÀ DÂU TÂY</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/8.jpg" alt="" />
                </div>
                <h3>TRÀ XOÀI</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images//10-a1db977e-32af-492b-8ae1-c3638939b4a7.jpg" alt="" />
                </div>
                <h3>TRÀ CHANH</h3>
                <span>Giá: <strong>30.000₫</strong></span>
            </a>
        </section>
    </div>
</section> -->

<section class="today">
    <div class="container">
        <section>
            <div class="container menu-today">
                <h2>SẢN PHẨM ĐƯỢC QUAN TÂM</h2>
            </div>
        </section>
        <section class="today-grid-box" id="productHot">
            <!-- <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/6.jpg" alt="" />
                </div>
                <h3>TRÀ PHÚC BỒN TỬ</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/12.jpg" alt="" />
                </div>
                <h3>TRÀ VẢI</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/11-31738fc1-8b94-4d06-824d-63222f59e4e0.jpg" alt="" />
                </div>
                <h3>TRÀ CAM ĐÀO</h3>
                <span>Giá: <strong>45.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/9.jpg" alt="" />
                </div>
                <h3>TRÀ TÁO</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </a> -->
        </section>
    </div>
</section>
<section class="today">
    <div class="container">
        <section>
            <div class="container menu-today">
                <h2>SẢN PHẨM MỚI RA MẮT</h2>
            </div>
        </section>
        <section class="today-grid-box" id="productNew">
            <!-- <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/6.jpg" alt="" />
                </div>
                <h3>TRÀ PHÚC BỒN TỬ</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/12.jpg" alt="" />
                </div>
                <h3>TRÀ VẢI</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/11-31738fc1-8b94-4d06-824d-63222f59e4e0.jpg" alt="" />
                </div>
                <h3>TRÀ CAM ĐÀO</h3>
                <span>Giá: <strong>45.000₫</strong></span>
            </a>
            <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/9.jpg" alt="" />
                </div>
                <h3>TRÀ TÁO</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </a> -->
        </section>
    </div>
</section>
<section>
    <div class="container time">
        <div class="box-time">
            <div class="container">
                <h2>THỜI GIAN MỞ CỬA</h2>
                <p>
                    “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
                </p>
                <span>T2 - T6: 8h30 - 21h30</span><br />
                <span>T7 - CN: 8h00 - 22h00</span><br />
                <a href="">Đặt bàn ngay</a>
            </div>
        </div>
        <div class="img-time">
            <img src="images/banner_time_open.jpg" alt="" />
        </div>
    </div>
</section>
<div class="container cata">
    <section class="title-cata">
        <h2>TIN TỨC NỔI BẬT</h2>
    </section>
    <section class="news-grid">
        <div class="box-cata box-news">
            <a href="">
                <section class="img-cata img-news">
                    <img src="images/untitled-1.jpg" alt="" />
                </section>
                <section class="title-box post-news">
                    <h2>
                        Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                    </h2>
                    <p>
                        Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế. Không chỉ cuốn hút ở mùi vị, một cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng ch...
                    </p>
                </section>
            </a>
        </div>
        <div class="box-cata box-news">
            <a href="">
                <section class="img-cata img-news">
                    <img src="images/untitled-5.jpg" alt="" />
                </section>
                <section class="title-box post-news">
                    <h2>
                        Uống 1-4 tách cà phê mỗi ngày giúp bệnh nhân ung thư kéo dài sự sống
                    </h2>
                    <p>
                        Uống từ một đến bốn tách cà phê mỗi ngày có thể giúp bệnh nhân ung thư đại trực tràng giai đoạn cuối sống lâu hơn và làm chậm sự tiến triển của bệnh. Phát hiện này được các nhà khoa học rút ra từ ...
                    </p>
                </section>
            </a>
        </div>
        <div class="box-cata box-news">
            <a href="">
                <section class="img-cata img-news">
                    <img src="images/untitled-3.jpg" alt="" />
                </section>
                <section class="title-box post-news">
                    <h2>
                        Dùng cốc giấy đựng cà phê nóng, thứ bạn uống đầy ắp những thứ đáng sợ này
                    </h2>
                    <p>
                        Đối với nhiều người, một ngày mới chỉ có thể khởi đầu tốt đẹp bằng một tách cà phê nóng. Nhờ cafein, bộ não dường như không thể nhận được tín hiệu "mệt mỏi", từ đó tạo cho con người ta một nguồn n...
                    </p>
                </section>
            </a>
        </div>
    </section>
</div>
<section class="images-footer">
    <div class="img">
        <img src="images/picture_1.jpg" alt="" />
    </div>
    <div class="img">
        <img src="images/picture_2.jpg" alt="" />
    </div>
    <div class="img">
        <img src="images/picture_3.jpg" alt="" />
    </div>
    <div class="img">
        <img src="images/picture_4.jpg" alt="" />
    </div>
    <div class="img">
        <img src="images/picture_5.jpg" alt="" />
    </div>
</section>
<script src="../javascripts/home.js"></script>