<section class="today">
    <div class="container">
        <span class="path"><a href="/">Trang chủ</a> / <%= title %> </span>
        <h2 id="title"></h2>
        <input type="text" hidden value="<%= id %>" id="id" />
        <section class="today-grid-box" id="products">
            <!-- <a href="" class="today-box">
                <div class="img-today">
                    <img class="" src="images/6.jpg" alt="" />
                </div>
                <h3>TRÀ PHÚC BỒN TỬ</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </a>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/12.jpg" alt="" />
                </div>
                <h3>TRÀ VẢI</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/11-31738fc1-8b94-4d06-824d-63222f59e4e0.jpg" alt="" />
                </div>
                <h3>TRÀ CAM ĐÀO</h3>
                <span>Giá: <strong>45.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/9.jpg" alt="" />
                </div>
                <h3>TRÀ TÁO</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/5.jpg" alt="" />
                </div>
                <h3>TRÀ VIỆT QUẤT</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/7.jpg" alt="" />
                </div>
                <h3>TRÀ DÂU TÂY</h3>
                <span>Giá: <strong>40.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images/8.jpg" alt="" />
                </div>
                <h3>TRÀ XOÀI</h3>
                <span>Giá: <strong>35.000₫</strong></span>
            </div>
            <div class="today-box">
                <div class="img-today">
                    <img class="" src="images//10-a1db977e-32af-492b-8ae1-c3638939b4a7.jpg" alt="" />
                </div>
                <h3>TRÀ CHANH</h3>
                <span>Giá: <strong>30.000₫</strong></span>
            </div> -->
        </section>
        <section class="pagination">
            <ul>
                <li><a class="pag-link active" href="">1</a></li>
                <li><a class="pag-link" href="">2</a></li>
                <li><a class="pag-link" href="">3</a></li>
                <li><a class="pag-link" href="">4</a></li>

                <li>
                    <a class="pag-link" href=""><i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
        </section>
    </div>
</section>
<script src="../javascripts/products.js"></script>