<section>
    <div class="login">
        <h1>Đăng kí</h1>
        <p>Nếu bạn đã có tài khoản, <a href="login.html">đăng nhập tại đây</a></p>
        <form action="/users/dang-ki" method="post">
            <div class="form-group">
                <input type="text" name="ho_khachhang" placeholder="Họ" require />
            </div>
            <div class="form-group">
                <input type="text" name="ten_khachhang" placeholder="Tên" require />
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" require />
            </div>
            <div class="form-group">
                <input type="text" name="sdt" placeholder="Số điện thoại" require />
            </div>
            <div class="form-group">
                <input type="password" name="matkhau" placeholder="Mật khẩu" require />
            </div>
            <div class="form-group">
                <button type="submit">Đăng kí</button>
            </div>
        </form>
        <p><a href="">Quên mật khẩu ?</a></p>
        <div class="login-social">
            <p>Hoặc đăng nhập bằng</p>
            <a href="" class="fb"><i
          class="fab fa-facebook"
          style="font-size: 25px"
          aria-hidden="true"
        ></i>
        Facebook</a
      >
      <a href="" class="gg"
        ><i
          class="fab fa-google-plus"
          style="font-size: 25px"
          aria-hidden="true"
        ></i>
        Google</a
      >
    </div>
  </div>
</section>